html {
    background: radial-gradient(rgba(17, 81, 124, .92), rgba(0, 0, 0, .94));
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 640px;
    width: 640px;
    margin-top: 20px;
    background-color: rgb(255,255,255);
}

.individual-grid {
    box-sizing: border-box;
}

button {
    color: white;
    font-size: 16px;
    padding: 8px 25px;
    border-radius: 17px;
    border: 1px solid white;
    background-color: black;
}
