html {
    background: rgb(17, 81, 124);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 640px;
    width: 640px;
    margin-top: 20px;
}

.default-grid {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}
.individual-grid {
    box-sizing: border-box;
}

.individual-grid, .default-grid{
    border: .5px solid black;
}

.div-hidden {
    background-color: rgb(132, 187, 253);
}